#  Startup Expansion Analysis

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Importing & Inspecting Data

In [5]:
startups = pd.read_excel(r"C:\Users\Mohamed SLIMANI\Downloads\startup-expansion.xlsx")
startups

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
0,1,Peoria,Arizona,Region 2,Old,2601,48610
1,2,Midland,Texas,Region 2,Old,2727,45689
2,3,Spokane,Washington,Region 2,Old,2768,49554
3,4,Denton,Texas,Region 2,Old,2759,38284
4,5,Overland Park,Kansas,Region 2,Old,2869,59887
...,...,...,...,...,...,...,...
145,146,Paterson,New Jersey,Region 1,New,2251,34603
146,147,Brownsville,Texas,Region 2,New,3675,63148
147,148,Rockford,Illinois,Region 1,New,2648,43377
148,149,College Station,Texas,Region 2,New,2994,22457
149,150,Thousand Oaks,California,Region 2,New,2431,40141

In [20]:
startups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store ID         150 non-null    int64
 1   City             150 non-null    object
 2   State            150 non-null    object
 3   Sales Region     150 non-null    object
 4   New Expansion    150 non-null    object
 5   Marketing Spend  150 non-null    int64
 6   Revenue          150 non-null    int64
 7   ROMS             150 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 9.5+ KB

In [7]:
# Select only 'Marketing Spend' and 'Revenue' to avoid irrelevant columns like 'Store ID' in analysis
startups[['Marketing Spend','Revenue']].describe().round(2)

       Marketing Spend   Revenue
count           150.00    150.00
mean           2893.15  39301.43
std             367.86  15465.75
min            1811.00  15562.00
25%            2662.25  21113.50
50%            2898.00  42993.00
75%            3111.50  51145.50
max            3984.00  68828.00

In [8]:
startups['City'].unique()

array(['Peoria', 'Midland', 'Spokane', 'Denton', 'Overland Park',
       'Yonkers', 'Birmingham', 'Antioch', 'Worcester', 'Rochester',
       'Rialto', 'Santa Maria', 'Las Cruces', 'Jackson', 'Hillsboro',
       'Temecula', 'Tallahassee', 'Fontana', 'Kent', 'Broken Arrow',
       'Concord', 'Modesto', 'Montgomery', 'Burbank', 'Elk Grove',
       'Port St. Lucie', 'Elizabeth', 'Salt Lake City', 'Waco', 'Edison',
       'Boulder', 'Grand Rapids', 'Tyler', 'Charleston', 'Huntsville',
       'Pearland', 'Inglewood', 'Oxnard', 'Miramar', 'Cape Coral',
       'Syracuse', 'Newport News', 'Lewisville', 'Carrollton',
       'San Bernardino', 'Pasadena', 'Roseville', 'Murrieta',
       'San Angelo', 'Olathe', 'Akron', 'Fullerton', 'Manchester',
       'Everett', 'West Covina', 'Thornton', 'Hampton', 'Waterbury',
       'Ventura', 'Davenport', 'Columbia', 'Simi Valley', 'Richmond',
       'Little Rock', 'El Cajon', 'Santa Clara', 'Oceanside', 'Davie',
       'Lakeland', 'Centennial', 'Lowell', 'Ontario', 'Palm Bay',
       'Murfreesboro', 'Vancouver', 'Topeka', 'West Valley City',
       'New Haven', 'Pueblo', 'Costa Mesa', 'Garden Grove',
       'Fort Lauderdale', 'North Charleston', 'Cambridge', 'Greeley',
       'Gresham', 'Amarillo', 'High Point', 'Vista', 'Tacoma', 'Mesquite',
       'Augusta', 'Elgin', 'Aurora', 'Gainesville', 'Dayton',
       'Wichita Falls', 'Naperville', 'Clovis', 'Billings', 'Surprise',
       'Coral Springs', 'Visalia', 'Killeen', 'Orange', 'Richardson',
       'South Bend', 'Fayetteville', 'Sioux Falls', 'Grand Prairie',
       'Stamford', 'West Palm Beach', 'Knoxville', 'Renton', 'McAllen',
       'Woodbridge', 'Shreveport', 'Bellevue', 'Huntington Beach',
       'Santa Clarita', 'Sterling Heights', 'Mobile', 'Bridgeport',
       'Daly City', 'Sandy Springs', 'Cedar Rapids', 'Columbus',
       'Moreno Valley', 'Pompano Beach', 'Savannah', 'West Jordan',
       'Des Moines', 'Green Bay', 'Santa Rosa', 'San Mateo', 'Warren',
       'Norwalk', 'Lafayette', 'Providence', 'Chattanooga', 'Tempe',
       'Joliet', 'Rancho Cucamonga', 'Glendale', 'Paterson',
       'Brownsville', 'Rockford', 'College Station', 'Thousand Oaks'],
      dtype=object)

In [9]:
startups['City'].value_counts() # Show how many times each city name is repeated

City
Rochester        2
Killeen          1
Wichita Falls    1
Naperville       1
Clovis           1
                ..
Akron            1
Fullerton        1
Manchester       1
Everett          1
Thousand Oaks    1
Name: count, Length: 149, dtype: int64

In [10]:
startups['Sales Region'].value_counts()

Sales Region
Region 2    86
Region 1    64
Name: count, dtype: int64

In [11]:
startups.isna().sum()

Store ID           0
City               0
State              0
Sales Region       0
New Expansion      0
Marketing Spend    0
Revenue            0
dtype: int64

In [12]:
startups.duplicated().sum()

np.int64(0)

## Exploring & Analysis Data

In [13]:
startups.sample(10)

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
135,136,San Mateo,California,Region 2,Old,1811,19426
97,98,Naperville,Illinois,Region 1,Old,2699,39856
16,17,Tallahassee,Florida,Region 1,Old,2737,47729
23,24,Burbank,California,Region 2,Old,3679,20123
37,38,Oxnard,California,Region 2,Old,2318,64302
117,118,Bellevue,Washington,Region 2,Old,2542,40462
1,2,Midland,Texas,Region 2,Old,2727,45689
111,112,West Palm Beach,Florida,Region 1,Old,2926,18089
83,84,Cambridge,Massachusetts,Region 1,Old,2779,21286
85,86,Gresham,Oregon,Region 2,Old,2745,19708

In [14]:
startups[startups['New Expansion'] == 'Old'].groupby(['State']).sum()['Revenue'].nlargest(10)

State
California     1362468
Texas           554964
Florida         479023
Washington      298013
Alabama         221025
New York        160046
Connecticut     158511
Georgia         157656
Colorado        156495
Michigan        147759
Name: Revenue, dtype: int64

In [15]:
startups[startups['New Expansion'] == 'New'].groupby(['State']).sum()['Revenue'].nlargest(10)

State
California    141883
Illinois       91692
Texas          85605
Tennessee      55357
Arizona        48954
New Jersey     34603
Name: Revenue, dtype: int64

In [16]:
#ROMS = Return on marketig spend 
startups['ROMS']=round((startups['Revenue']/startups['Marketing Spend'])*100,2)

In [17]:
startups

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue,ROMS
0,1,Peoria,Arizona,Region 2,Old,2601,48610,1868.90
1,2,Midland,Texas,Region 2,Old,2727,45689,1675.43
2,3,Spokane,Washington,Region 2,Old,2768,49554,1790.25
3,4,Denton,Texas,Region 2,Old,2759,38284,1387.60
4,5,Overland Park,Kansas,Region 2,Old,2869,59887,2087.38
...,...,...,...,...,...,...,...,...
145,146,Paterson,New Jersey,Region 1,New,2251,34603,1537.23
146,147,Brownsville,Texas,Region 2,New,3675,63148,1718.31
147,148,Rockford,Illinois,Region 1,New,2648,43377,1638.10
148,149,College Station,Texas,Region 2,New,2994,22457,750.07
149,150,Thousand Oaks,California,Region 2,New,2431,40141,1651.21

In [21]:
startups.to_csv(
    "C:/Users/Mohamed SLIMANI/Downloads/new_startups_expansion.csv",
    index=False
)